@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Lato:wght@700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Lato", sans-serif;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.imageContainer > span {
  /* unset */
  position: unset !important;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
}

@tailwind base;

@layer base {
  html {
    @apply dark:bg-primaryDark;
    @apply dark:text-gray-200;
  }

  p {
    @apply dark:text-gray-400;
  }

  .input-gray {
    @apply bg-[#EAEAEA];
  }
}

/* .my-projects {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  background: url(/pattern1.png);
  opacity: 0.75;
  background-size: 6rem;
  background-position: center;
} */
